<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	title Jakub Chrząstek - Junior FrontEnd Developer - Wrocław
	link(rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css")
	link(rel="stylesheet", href="main.css")
	script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
	script(type="text/javascript" src="main.js")

body
	section#menu
		.menu__button

	section#header
		.row
			.center-block
				h1 Jakub Chrząstek
				hr
				p 
					|Junior Frontend Developer 
					br
					|Wrocław
				br
				a(href="#aboutme")
					button.alert.large.button#more MORE ABOUT ME
	section#aboutme
		.row
			.medium-4.small-12
				img(src="/images/portret.png")
			.medium-8.small-12
				p  
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ex deserunt dolorem ea voluptatum iusto sit voluptatem excepturi libero nulla optio aut odio molestias doloremque dolor, voluptates iste totam illo explicabo? Numquam nam inventore quisquam facere maiores voluptatem, corporis veniam magnam est cum quod unde minima, expedita odit nesciunt nemo.
	section#skills
		.row
			.medium-12
				h3.text-center Practical Skills 
				.row
					.medium-3.small-6
						i(class="devicon-html5-plain-wordmark colored")
					.medium-3.small-6
						i(class="devicon-sass-original colored")
					.medium-3.small-6
						i(class="devicon-less-plain-wordmark colored")
					.medium-3.small-6
						i(class="devicon-javascript-plain colored")
					.medium-3.small-6
						i(class="devicon-jquery-plain-wordmark colored")
					.medium-3.small-6
						i(class="devicon-angularjs-plain colored")
					.medium-3.small-6
						i(class="devicon-bootstrap-plain-wordmark colored")
					.medium-3.small-6
						i(class="devicon-foundation-plain-wordmark colored")
					.medium-3.small-6
						i(class="devicon-bower-plain-wordmark colored")
					.medium-3.small-6
						i(class="devicon-gulp-plain colored")
					.medium-3.small-6
						i(class="devicon-git-plain-wordmark colored")
				h3.text-center Learn in future...
				.row
					.medium-3.small-6
						i(class="devicon-nodejs-plain colored")
					.medium-3.small-6
						i(class="devicon-rails-plain-wordmark colored")


	section#project
		.row
			.medium-12
				h3.text-center Last Project
				.row
					.medium-3
						img(src="/images/p1.jpg", alt="")
					.medium-3
						img(src="/images/p2.jpg", alt="")
					.medium-3
						img(src="/images/p3.jpg", alt="")
					.medium-3
						img(src="/images/p4.jpg", alt="")
